.bulb {
  position: relative;

  .bulb__msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 15px;
    background-color: $background-button;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 8px;
    position: absolute;
    top: 5px;
    left: 25px;
  }
}