$backgroud-main: #f8f9fb;
$background-alt: #5e81ac;
$background-button: #eceff4;
$background-gradient: linear-gradient(#f8f9fb 50%, #d8dee9);
$text-default: #3b4252;
$text-button: #4c566a;
$text-history: #f8f9fb;
$text-history-heading: #d8dee9;
$logo-main: black;
$logo-alt: #4c566a;
$shadow: rgba(0, 0, 0, 0.09);