.header {
	width: 100%;
	box-shadow: 0 20px 20px -15px $shadow;
	background-color: $background-main;
	position: sticky;
	z-index: 4;
	top: 0;

	.navigation {
		height: 50px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		font-family: $font-menu-base;
		margin: 0 100px;

		&__list {
			display: flex;
			align-items: center;
			gap: 5px;
			font-size: 1.5rem;

			.list__item {
				padding: 5px 10px;

				&:hover {
					background-color: $background-button;
					border-radius: 10px;
					transition-duration: 0.4s;
				}

				.list__link {
					display: inline;
					text-decoration: none;
					color: $text-button;
					border-radius: 2px;
					transition-duration: 0.4s;

					&:visited {
						color: $text-button;
					}
				}
			}
		}

		.navigation__logo {
			position: relative;
			height: 35px;
			font-family: $font-logo;
			padding: 0 10px;

			.logo {
				display: inline;
				color: $logo-main;
				font-size: 1rem;

				&:visited {
					color: $logo-main;
				}
			}

			.logo--bottom {
				font-size: 1.5rem;
				font-weight: bold;
				color: $logo-alt;
				position: absolute;
				top: 8px;
				left: 50px;
			}
		}
	}
}
